<section id="work" class="page">
        <div class="container">
            <div class="content text-center">
                <div class="heading">
                    <h2 class="mt-0 mb-4">This is how we do it.</h2>
                    <div class="border"></div>
                    <p class="mt-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, alias enim placeat earum quos ab.</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="portfolio">
                            <ul class="filters list-inline">
                                <li class="list-inline-item">
                                    <a class="active" data-filter="*" href="#">All</a>
                                </li>
                                <li class="list-inline-item">
                                    <a data-filter=".photography" href="#">Photography</a>
                                </li>
                                <li class="list-inline-item">
                                    <a data-filter=".branding" href="#">Branding</a>
                                </li>
                                <li class="list-inline-item">
                                    <a data-filter=".web" href="#">Web</a>
                                </li>
                            </ul>
                            <ul class="items list-unstyled clearfix animated hiding mb-0" data-animation="fadeInRight">
                                <li class="item branding">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/1.jpg" alt="">
                                        <div class="overlay">
                                            <span>Etiam porta</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item photography">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/2.jpg" alt="">
                                        <div class="overlay">
                                            <span>Lorem ipsum</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item branding">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/3.jpg" alt="">
                                        <div class="overlay">
                                            <span>Vivamus quis</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item photography">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/4.jpg" alt="">
                                        <div class="overlay">
                                            <span>Donec ac tellus</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item photography">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/5.jpg" alt="">
                                        <div class="overlay">
                                            <span>Etiam volutpat</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item web">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/6.jpg" alt="">
                                        <div class="overlay">
                                            <span>Donec congue </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item photography">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/7.jpg" alt="">
                                        <div class="overlay">
                                            <span>Nullam a ullamcorper diam</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item web">
                                    <a href="work.html" data-gall="work" data-vbtype="ajax">
                                        <img src="img/work/8.jpg" alt="">
                                        <div class="overlay">
                                            <span>Etiam consequat</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>